#detail {
	margin-left: 180px;
	padding: 10px 30px;
	position: relative;

	img {
		display: block;
		margin: 20px 0;
	}
	.avatar {
		display: inline-block;
		margin: 0;
		margin-right: 15px;
	}
	.meta {
		display: flex;
		align-items: center;
		margin: 10px 10px 10px 0;
	}
	.answer {
		margin-bottom: 30px;
	}
	p {
		margin: 15px 0;
	}
}

#comment {
	width: 500px;
	height: 100%;
	background-color: #eee;
	position: fixed;
	top: 40px;
	right: 0;
	transform: translateX(500px);

	&.show {
		transform: translateX(0);
	}

	#close-comment {
		width: 30px;
		height: 30px;
	}
}