#detail {
	margin-left: 250px;
	padding: 10px 30px;

	img {
		display: block;
		margin: 20px;
	}
}

#comment {
	width: 500px;
	height: 100%;
	background-color: #eee;
	position: fixed;
	top: 40px;
	right: 0;
	transform: translateX(500px);

	&.show {
		transform: translateX(0);
	}

	#close-comment {
		width: 30px;
		height: 30px;
	}
}