@font-face {
    font-family: 'FZ-Song';
    src: url('dist/fonts/FZSong.TTF');
}

*{
	margin:0;
	padding:0;
}

html{
	// background: #14243d;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

body{
	font: 16px/1.5 Arial, Helvetica, sans-serif;
	color:#000;
	position: relative;
	font-family: "Hiragino Sans GB","Century Gothic",system, Arial, Verdana, Tahoma,"微软雅黑";
}

a, a:visited, a:hover{
	color:#345;
	text-decoration: none;
}

li {
	list-style: none;
}

.container {
	display: flex;
	padding-top: 40px;
}
