#menu-bar {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	flex: 1;
	position: fixed;
	top: 40px;
	left: 0;
	width: 180px;
	height: 100%;
	// background-color: #333842;
	background-color: #fafafa;
	color: #6b758a;
	border-right: 1px solid #eee;
	border-top: 1px solid #f0f0f0;


	li {
		min-height: 40px;
		line-height: 40px;
		text-align: center;
		a {
			display: block;
			&:hover {
				background-color: #eee;
			}
		}
	}
}