#themes {
	margin-left: 180px;
	height: 100%;

	.list-item {
		display: flex;
		align-items: center;
		padding: 20px;
		// background-color: #eee;

		a {
			display: flex;
			align-items: center;
		}

		.item-title {
			margin-left: 20px;
		}

		.item-image {
			border-radius: 3px;
			width: 100px;
			height: 100px;
			margin-left: 20px;
		}
		&:not(:first-child) {
			border-top: 1px solid #eaeaea;
		}
	}

	ul,
	li {
		width: 100%;
	}
}
